<link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.6/css/aui.min.css" media="all">
<link rel="stylesheet" href="{{furl '/css/csshake.min.css'}}" type="text/css"/>
<link rel="stylesheet" href="{{furl '/css/roshambo.css'}}" type="text/css"/>
<link rel="stylesheet" href="{{furl '/css/dark_theme.css'}}" type="text/css"/>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//aui-cdn.atlassian.com/aui-adg/5.9.6/js/aui.min.js"></script>
<script src="https://www.hipchat.com/atlassian-connect/all.js"></script>

{{#if isDarkTheme}}
    <link rel="stylesheet" href="{{furl '/css/aui-dark.css'}}" type="text/css"/>
{{/if}}

<body class="{{theme}}">
<div class="aui-tabs horizontal-tabs" id="roshambo-sidebar-tabs">
    <ul class="tabs-menu">
        <li class="menu-item active-tab">
            <a href="#tabs-example-first">Pending Games</a>
        </li>
        <li class="menu-item">
            <a href="#tabs-past-games">Past Games</a>
        </li>
    </ul>
    <div class="tabs-pane active-pane" id="tabs-example-first">

        <div id="pending-empty-state" class="{{#if hasPending}} hidden {{/if}}">
            <img src="/img/roshambo.png"/>
            <p>You do not have any pending games.</p>
            <p>Type <i>/rps @mention</i> into the room to challenge someone to a game of rock-paper-scissors!</p>
        </div>

        <table class="aui rsb-challenges" id="pending-challenges">
            <tbody>
            {{#each record.games}}
                <tr id="{{@key}}" class="pending-game">
                    {{#if this.myMove}}
                    {{else}}
                        <td class="mentionName" headers="challenger">@{{this.otherPlayer.mention}}</td>
                        <td headers="rock">
                            <img src="/img/rock.png"  data-action="rock" data-game-key="{{@key}}" data-other-player-id="{{this.otherPlayer.id}}" class="rsb-action shake-little"/>
                        {{#if this.isRpsls}}
                            <br>
                            <img src="/img/lizard.png" data-action="lizard" data-game-key="{{@key}}" data-other-player-id="{{this.otherPlayer.id}}" class="rsb-action shake-little"/>
                        {{/if}}
                        </td>
                        <td headers="paper">
                            <img src="/img/paper.png" data-action="paper" data-game-key="{{@key}}" data-other-player-id="{{this.otherPlayer.id}}" class="rsb-action shake-little"/>
                            {{#if this.isRpsls}}
                                <br>
                                <img src="/img/spock.png" data-action="spock" data-game-key="{{@key}}" data-other-player-id="{{this.otherPlayer.id}}" class="rsb-action shake-little"/>
                            {{/if}}
                        </td>
                        <td headers="scissors">
                            <img src="/img/scissors.png" data-action="scissors" data-game-key="{{@key}}" data-other-player-id="{{this.otherPlayer.id}}" class="rsb-action shake-little"/>
                        </td>
                    {{/if}}
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="tabs-pane" id="tabs-past-games">
        <table class="aui rsb-challenges" id="old-games">
            <thead>
            <tr>
                <th><span class="aui-lozenge aui-lozenge-success"><span id="win-count">{{record.wins}}</span> wins</span></th>
                <th><span class="aui-lozenge"><span id="draw-count">{{record.draws}}</span> draws</span></th>
                <th><span class="aui-lozenge aui-lozenge-error"><span id="lose-count">{{record.losts}}</span> losses</span></th>
            </tr>
            </thead>
            <tbody>
            {{#each oldGames}}
                <tr id="{{this.gameKey}}">
                    <td class="mentionName" headers="challenger">@{{this.otherPlayer.mention}}</td>
                    <td><img src="/img/{{this.myMove}}_L_{{this.result}}.png"  class="rsb-move"/></td>
                    <td><img src="/img/{{this.theirMove}}_R_{{this.this.oppositeOfResult}}.png"  class="rsb-move"/></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>

<!--<div id="debug"></div>-->

<section id="loading">
    <div id="overlay">
        <i>
            <img src="/img/loading-icon.gif"/>
        </i>
    </div>
</section>

<script>

    bindAction();

    function bindAction() {
        $('.rsb-action').off('click');
        $('.rsb-action').on('click', function(e) {
            $('#loading').show();

            var playerId = "{{identity.userId}}";
            var action = $(this).data('action');
            var gameKey = $(this).data('game-key');
            var otherPlayerId = $(this).data('other-player-id');
            var gameRow = $('#pending-challenges tr#'+gameKey);

            gameRow.hide();
            gameRow.removeClass('pending-game');
            toggleEmptyState();

            HipChat.auth.withToken(function(err, token) {
                if (err) {
                    console.log('failed')
                } else {
                    $.ajax({
                        url: '/play',
                        headers: { 'Authorization': 'JWT ' + token },
                        type: 'post',
                        dataType: 'json',
                        data: {playerId: playerId, action: action, gameKey: gameKey, otherPlayerId: otherPlayerId},
                        success: function(data) {
                            $('#loading').hide();
                        },
                        error: function(data) {
                            $('#loading').hide();
                        }
                    })
                }
            });

        });
    }

    {{#if record}}
    setInterval(updateGameList, 10000);
    {{/if}}

    function updateGameList() {
        HipChat.auth.withToken(function(err, token) {
            $.ajax({
                url: '/update_sidebar',
                headers: { 'Authorization': 'JWT ' + token },
                type: 'get',
                dataType: 'json',
                success: function(data) {
                    var needRebind = false;

                    Object.keys(data.pendingGames).forEach(function(key,index) {
                        // already on the pending list
                        if ($('#pending-challenges tr#'+key).length === 0) {
                            var game = data.pendingGames[key];


                            if (game.isRpsls) {
                                var rowHtml = '<tr id="' + key + '" class="pending-game">' +
                                        '<td class="mentionName" headers="challenger">@' + game.otherPlayer.mention + '</td>' +
                                        '<td headers="rock">' +
                                        '<img src="/img/rock.png"  data-other-player-id="' + game.otherPlayer.id + '" data-action="rock" data-game-key="' + key + '" class="rsb-action shake-little"/>' +
                                        '<br><img src="/img/lizard.png" data-other-player-id="' + game.otherPlayer.id + '" data-action="lizard" data-game-key="' + key + '" class="rsb-action shake-little"/>' +
                                        '</td>' +
                                        '<td headers="paper">' +
                                        '   <img src="/img/paper.png" data-other-player-id="' + game.otherPlayer.id + '" data-action="paper" data-game-key="' + key + '" class="rsb-action shake-little"/>' +
                                        '<br><img src="/img/spock.png" data-other-player-id="' + game.otherPlayer.id + '" data-action="spock" data-game-key="' + key + '" class="rsb-action shake-little"/>' +
                                        '</td>' +
                                        '<td headers="scissors">' +
                                        '<img src="/img/scissors.png" data-other-player-id="' + game.otherPlayer.id + '" data-action="scissors" data-game-key="' + key + '" class="rsb-action shake-little"/>' +
                                        '</td><tr>';
                            } else {
                                var rowHtml = '<tr id="' + key + '" class="pending-game">' +
                                        '<td class="mentionName" headers="challenger">@' + game.otherPlayer.mention + '</td>' +
                                        '<td headers="rock">' +
                                        '<img src="/img/rock.png"  data-other-player-id="' + game.otherPlayer.id + '" data-action="rock" data-game-key="' + key + '" class="rsb-action shake-little"/>' +
                                        '</td>"' +
                                        '<td headers="paper">' +
                                        '   <img src="/img/paper.png" data-other-player-id="' + game.otherPlayer.id + '" data-action="paper" data-game-key="' + key + '" class="rsb-action shake-little"/>' +
                                        '</td>' +
                                        '<td headers="scissors">' +
                                        '<img src="/img/scissors.png" data-other-player-id="' + game.otherPlayer.id + '" data-action="scissors" data-game-key="' + key + '" class="rsb-action shake-little"/>' +
                                        '</td><tr>';
                            }

                            $('#pending-challenges tbody').append(rowHtml);

                            needRebind = true;
                        }
                    });

                    if (needRebind) bindAction();
                    toggleEmptyState();

                    data.oldGames.forEach(function(game){
                        if ($('#old-games tr#'+game.gameKey).length === 0) {



                            $('#old-games tbody').prepend(
                                    '<tr id="' + game.gameKey + '"> ' +
                                    '<td class="mentionName" headers="challenger">@' + game.otherPlayer.mention + '</td> ' +
                                    '<td><img src="/img/' + game.myMove + '_L_' + game.result + '.png"  class="rsb-move"/></td> ' +
                                    '<td><img src="/img/' + game.theirMove + '_R_' + game.oppositeOfResult + '.png"  class="rsb-move"/></td> ' +
                                    '</tr>'
                            );
                        }
                    });

                    $('#win-count').text(data.wins);
                    $('#draw-count').text(data.draws);
                    $('#lose-count').text(data.losts);


                },
                error: function(data) {
//                    $('#debug').text('Failed.');
                }
            })
        })
    }

    function toggleEmptyState() {
        if ($('.pending-game').length) {
            $('#pending-empty-state').addClass('hidden');
        } else {
            $('#pending-empty-state').removeClass('hidden');
        }

    }
</script>
</body>