/* Changes to AUI elements for dark theme */

.aui-tabs>.tabs-menu .menu-item a:focus, .aui-tabs>.tabs-menu .menu-item a:hover,
.aui-tabs>.tabs-menu .menu-item.active-tab a, .aui-tabs>.tabs-menu .menu-item.active-tab a:active,
.aui-tabs>.tabs-menu .menu-item.active-tab a:focus, .aui-tabs>.tabs-menu .menu-item.active-tab a:hover,
.aui-tabs>.tabs-menu .menu-item.active-tab a:link, .aui-tabs>.tabs-menu .menu-item.active-tab a:visited {
    background-color: #1E252B;
    color: #aaaaaa;
    border-color: #000;
}

.aui-tabs.aui-tabs-disabled.horizontal-tabs>.tabs-menu>.active-tab:active,
.aui-tabs.aui-tabs-disabled.horizontal-tabs>.tabs-menu>.active-tab:focus,
.aui-tabs.aui-tabs-disabled.horizontal-tabs>.tabs-menu>.active-tab:hover,
.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item.active-tab,
.aui-tabs.horizontal-tabs[data-aui-responsive]>.tabs-menu>.menu-item.active-tab {
    border-color: #000;
}

.aui-tabs.aui-tabs-disabled.horizontal-tabs > .tabs-menu > .menu-item > a:active,
.aui-tabs.aui-tabs-disabled.horizontal-tabs > .tabs-menu > .menu-item > a:focus,
.aui-tabs.aui-tabs-disabled.horizontal-tabs > .tabs-menu > .menu-item > a:hover,
.aui-tabs.horizontal-tabs > .tabs-menu > .menu-item > a {
    background-color: #333940;
    border-color: #000;
    color: #aaaaaa;
}

.aui-tabs.horizontal-tabs > .tabs-menu ~ .tabs-pane,
table.aui > tbody > tr:first-child > td, table.aui > tbody > tr:first-child > th,
table.aui > tfoot > tr:first-child > td {
    border-top: 1px solid #000;
}

.aui-tabs.horizontal-tabs > .tabs-menu > .menu-item:first-child a {
    border-color: #000;
}

table.aui>tbody>tr, table.aui>tfoot>tr {
    background: #1E252B;
    border-bottom: 1px solid #2D2D2D;
    color: #aaa;
}