.rsb-challenges .mentionName {
    font-size: 10px;
    vertical-align: middle;
    horiz-align: center;
    text-align: center;
}

#old-games td, #old-games th {
    vertical-align: middle;
    horiz-align: center;
    text-align: center;
}

.rsb-challenges td {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.rsb-action {
    height: 25px;
    cursor: pointer;
    text-align: center;
}

.rsb-move {
    height: 25px;
}

.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item {
    width: 50%;
    text-align: center;
}

.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item:first-child {
    margin-left: 0;
}

section {
    display: none;
}

#overlay {
    position: absolute;
    z-index: 99999999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: table;
}


#overlay i {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

#pending-empty-state {
    padding: 50px;
    text-align: center;
}

#pending-empty-state img {
    width: 100%;
}

#roshambo-sidebar-tabs .menu-item a {
    font-size: 10px;
}

#old-games .aui-lozenge {
    font-size: 8px;
}